Library/Artifacts
Library/Bee/artifacts
Library/Bee/CachedNodeOutput
Library/PackageCache
Library/ScriptAssemblies
Library/ShaderCache/builtin
Library/ShaderCache/shader
Library/StateCache
Temp
Library/PlayModeViewStates
Logs
Library/Bee
.plastic/plastic.wktree
.plastic/plastic.wktree
Library/
UserSettings
